body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../assets/images/bg.jpg");
  background-size: cover;
  user-select: none;

}

.container {
  width: 800px;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #c01b83;
  padding: 40px;
}

h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #fff;
  border: none;
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  background: linear-gradient(325deg,
      #03001e 0%,
      #7303c0 30%,
      #ec38bc 70%,
      #fdeff9 100%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.reset:focus {
  color: #ec38bc;
  background-color: #262809;
}

.reset:hover {
  opacity: 0.8;
  transition-duration: 0.2s;
}

.game {
  width: 700px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5%;
  font-size: 3em;
  transform: rotateY(0deg); 
  transition: 0.25s;
}

/* verso do card */
.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff url("../assets/images/disney-princess.png") center/contain no-repeat;
  border-radius: 5%;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  cursor: pointer;
}

/* quando abre o card, vira pra mostrar a frente */
.item.boxOpen {
  transform: rotateY(180deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
